body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 81px;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.logo-container {
    max-width: 191px;
    display: flex;
    align-items: center;
}

nav .links-header {
    display: flex;
    gap: 49px;
    align-items: center;
    font-size: 18px;
}

.btn-cta a:hover{
    text-decoration: underline;
}

.btn-entre a{
    background-color: #FBB03B;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 18px;
}

.btn-cta.btn-entre a:hover{
    text-decoration: none;
    background-color: #ffce7f;
}





footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 81px;
    border-top: 1px solid #E6E6E6;
}

.redes-sociais {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-top: 70px;
    margin-left: 10px;
}

.footer-info {
    display: flex;
    gap: 104px;
}

nav .links-footer,
.contatos {
    display: flex;
    flex-direction: column;
    gap: 8px;
}