:root {
    --cor-fundo: #ffff;
    --cor-texto: #000000;
    --cor-botao: #FBB03B;
    --cor-botao-hover: #FDD18D;
    --fonte: 'Inter', sans-serif;
    --espaco: 1rem;
    --radius: 0.8rem;
}

body {
    font-family: var(--fonte);
    background: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.login-card {
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 17rem;
    max-width: 39rem;
    gap: 32px;
}

.login-card h3 {
    font-size: 32px;
}

.login-card a {
    color: #828282;
    font-size: 1.1rem;
}

.login-card a:hover {
    text-decoration: underline;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

label {
    font-size: 0.9rem;
    color: var(--cor-texto);
    font-weight: 600;
}

input {
    padding: 0.75rem 1rem;
    border: 0.0625rem solid #ccc;
    border-radius: var(--radius);
    font-size: 1rem;
    width: 100%;
    margin-top: 8px;
}

button {
    background-color: var(--cor-botao);
    color: #000000;
    border: none;
    border-radius: var(--radius);
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: 0.3s;
}

button:hover {
    background-color: var(--cor-botao-hover);
}

.recuperar {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0.5rem;
    color: #828282;
    text-decoration: underline;
    cursor: pointer;
}