body {
    min-height: 100vh;
    display: flex;
    font-family: 'Inter', sans-serif;
    background-color: #F1F0F5;
    overflow: hidden;
}

.sidebar {
    background-color: #FBB03B;
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    height: 100vh;
    justify-content: center;
}

.sidebar-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

.sidebar .perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil a {
    background-color: #6C802A;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 49px;
    color: #fff;
    margin-top: 16px;
    transition: .2s ease-in-out;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
}

.perfil a:hover {
    background-color: #5c6d23;
}

.sidebar .perfil .perfil-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil-card h2 {
    text-align: center;
    color: #000;
    font-size: 21px;
    font-weight: 400;
    margin-top: 10px;
}

.sidebar .navbar {
    width: 100%;
}

.sidebar .navbar ul li a {
    display: block;
    color: #251A09;
    font-size: 16px;
    font-weight: 500;
    padding: 35px;
    transition: .2s ease-in-out;
    text-align: center;
}

.sidebar .navbar ul li a:hover {
    background-color: #ffbf58;
}

.sidebar .navbar ul li a.selecionado {
    background-color: #FFD38E;
}

.sidebar button {
    background-color: #CE1413;
    color: #fff;
    border-radius: 8px;
    padding: 5px 20px;
    font-size: 14px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: .2s ease-in-out;
    margin: 12px;
}

.sidebar button:hover {
    background-color: #ad1010;

}

.sair {
    display: flex;
    justify-content: center;
}

main {
    width: 83%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-section,
.cadastro-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 85%;
    margin: 5%;
}

.perfil-form,
.cadastro-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.perfil-section .img-container {
    width: 114px;
    position: relative;
    cursor: pointer;
}

.perfil-section .img-container::after {
    content: url(../assets/images/icons/edit-icon.png);
    background-color: #BF6A02;
    padding: 7px 7px 3px 7px;
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.ipt-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.ipt-container input {
    padding: 12px 16px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    font-size: 16px;
}

.ipt-container select {
    padding: 12px 16px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #757575;
}

.perfil-section button,
.cadastro-form button {
    width: 100%;
    background-color: #FBB03B;
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
    font-size: 20px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.perfil-section button:hover,
.cadastro-form button:hover {
    background-color: #ffce7f;
    color: #3C3C3C;
}

.perfil-section {
    gap: 21px;
}

.cadastro-card {
    gap: 32px;
}

.cadastro-card h3 {
    font-size: 32px;
}

.cadastro-form label {
    font-size: 0.9rem;
    font-weight: 600;
}

.cadastro-form select {
    background-color: #fff;
}



.notificacoes-card {
    width: 80%;
    height: 80%;
}

.notificacoes {
    margin-top: 16px;
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
}

.notificacao {
    background-color: #fff;
    border-radius: 8px;
}

.notificacao .titulo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 16px;
}

.notificacao .titulo-container h2 {
    font-size: 18px;
}

.notificacao .titulo-container span {
    color: #777;
}

.notificacao p {
    padding: 8px 16px;
}



.dashboard-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    gap: 16px;
}

.seletores {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 32px;
}

.seletores select {
    font-size: 20px;
    padding: 8px 64px 8px 16px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    color: #828282;
    background-color: #fff;
    box-shadow: 0 1px 4px #ddd;
}

.dashboards-container {
    display: none;
    gap: 8px;
    justify-content: space-between;
}

.dashboard-container {
    width: 50%;
    background-color: #fff;
    padding: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 83vh;
}

.boxes-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.metrica {
    background-color: #E7EADD;
}

.kpi {
    background-color: #F1F0F5;
    margin-top: 11px;
}

.kpi.fora-ideal {
    background-color: #FF8F91;
    color: #fff;
}

.kpi.fora-ideal::before {
    content: 'Fora do ideal';
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
}

.box .medida {
    white-space: nowrap;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
}

.box .medida span {
    font-size: 18px;
}

.box .unidade-medida {
    font-size: 12px;
    font-weight: 500;
}

.box .legenda {
    font-size: 15px;
    font-weight: 600;
    margin-top: 9px;
}

.dashboard-container h3 {
    margin-bottom: 6px;
    font-weight: 400;
}

.dashboard-container h4 {
    margin-top: 30px;
    margin-bottom: 4px;
    font-weight: 400;
}



.funcionarios-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    gap: 48px;
    padding: 128px;
}

.funcionarios-header {
    display: flex;
    align-items: center;
    gap: 24px;
}

.funcionarios-header .icone-mais {
    width: 44px;
    height: 44px;
}

.container-grafico {
    height: 10%;
}


/* --------------------------------------------------------------------------------------------- */
.titulo-container {
    height: 7%;
    font-weight: bold;
    font-size: 20px;
    color: #474747;
}

.container-metrica {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 24%;
    width: 50%;
    background: #FFD38E;

    box-shadow: 5.05183px 5.05183px 5.05183px rgba(0, 0, 0, 0.1);

}

.texto-container {
    display: flex;
    flex-direction: column;

    padding: 5%;
}

/* Avisos */

.alerta {
    width: 80%;
    height: 80%;
}

.alerta-card {
    margin-top: 16px;
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
}

.alerta-bar {
    background-color: #f33d3d;
    border-radius: 8px;
    padding-right: 500px;
}

.alerta-bar .titulo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
}

.alerta-bar .titulo-container h2 {
    font-size: 18px;
}


.alerta-bar p {
    padding: 8px 16px;
}

/* FINAL Avisos */

/* --------------------------------------------------------------------------------------------- */

/* SENSORES */

#lista-sensores {
    display: flex;
    width: 80%;
    height: 80%;
    flex-direction: column;
}

.sensores-info {
    display: flex;
    margin: 18px;
    padding: 19px 19px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 8px;
    padding-right: 530px;
    box-shadow: 2px 5px 9px grey;
}

.sensores-info h3 {
    font-size: 18px;
}


.sensores-info .estufa {
    padding: 8px 16px;
}

/* FINAL SENSORES */

/* --------------------------------------------------------------------------------------------- */

/* FUNCIONARIOS */

#lista-funcionarios {
    display: flex;
    width: 80%;
    height: 80%;
    flex-direction: column;
}

.funcionario-info {
    display: flex;
    margin: 18px;
    padding: 19px 19px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 8px;
    padding-right: 530px;
    box-shadow: 2px 5px 9px grey;
}

.funcionario-info h3 {
    font-size: 18px;
}


.funcionario-email {
    padding: 8px 16px;
}

.lista-nivel-acesso {
    display: flex;
    margin: 4px;
    padding: 8px 21px;
    background-color: #4e4e4e;
    color: #fff;
    border-radius: 8px;
}

.lista-nivel-acesso ul {
    display: flex;

}

/* FINAL FUNCIONARIOS */

/* --------------------------------------------------------------------------------------------- */

/* ESTUFAS */

#lista-estufas {
    display: flex;
    width: 80%;
    height: 80%;
    flex-direction: column;
}

.estufas-info {
    display: flex;
    margin: 18px;
    padding: 19px 19px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 8px;
    padding-right: 530px;
    box-shadow: 2px 5px 9px grey;
}

.estufas-info h3 {
    font-size: 18px;
}

/* FINAL ESTUFAS */

/* --------------------------------------------------------------------------------------------- */


.dashboard {
    display: flex;
    gap: 1%;
}

.dashboard-container-3-linhas {
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 50%;
    height: 83vh;
}

.container-menor {
    display: flex;
    width: 100%;
    background-color: #FEEBCE;
    padding: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 28vh;
    flex-direction: column;
    color: #474747;
}

.valores-dia {
    display: flex;
    flex-direction: column;
}

.valores-dia {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 2px;
    padding: 20px 15px;
    height: 140px;
    width: 264px;
    gap: 10%;
}

.valores-dia img {
    width: 17%;
    height: 33%;
}

.valores-maior-menor {
    display: flex;
    justify-content: space-between;
}

.valor {
    font-size: 32px;
    font-weight: bold;
    color: #474747;
}

.maior-menor {
    display: flex;
}

.container-menor-valores-maior-menor {
    display: flex;
    width: 100%;
    background-color: #fff;
    padding: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 26vh;
    flex-direction: column;
    color: #474747;
}

.box-valores-ideais {
    border: none;
    border-radius: 2px;
    padding: 20px 15px;
    height: 140px;
    width: 278px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #474747;
    background: #C5BEB2;
    justify-content: space-between;
}

.box-valores-ideais-PPFD {
    border: none;
    border-radius: 2px;
    padding: 20px 15px;
    height: 140px;
    width: 264px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #474747;
    background: #C5BEB2;
    justify-content: space-between;
}

.metrica-legenda {
    display: flex;
    flex-direction: row;
}

.legenda {
    display: flex;
    flex-direction: column;
    width: 62%;
    font-size: 18px;
    font-weight: 600;
}

.box-valores-reais {
    border: none;
    border-radius: 2px;
    padding: 20px 15px;
    height: 140px;
    width: 278px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #474747;
    background: #FFD38E;
    justify-content: space-between;
}

.box-valores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1%;
}

.legenda {
    display: flex;
    gap: 9%;
}

.legenda-metrica {
    display: flex;
    height: 45%;
    justify-content: center;
    align-items: center;
    background: #FFD38E;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    color: #474747;
}

.legenda-metrica p {
    font-size: 23px;
    font-weight: 500;
}

.legenda-reais {
    display: flex;
    height: 45%;
    justify-content: center;
    align-items: center;
    background: #C5BEB2;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    color: #474747;
}

.legenda-reais p {
    font-size: 23px;
    font-weight: 500;
}

.box-grafico canvas {
    display: flex;
    height: 54vh;
    width: 100%;
}

.legenda-pequena {
    display: flex;
    gap: 9%;
}

.medida {
    display: flex;
    font-weight: bold;
    font-size: 30px;
}

.legenda2 {
    display: flex;
    flex-direction: column;
    width: 34%;
    gap: 9%;
}